vendor/

# Eclipse
.buildpath
.project
.settings/

# Configuration
.env
config/dev/Date.php
config/dev/extraDatabase.php
config/dev/HtmlOutput.php
config/dev/MysqliDatabase.php
config/dev/PdoDatabase.php
config/dev/Request.php
config/dev/Router.php
