<?php

return [
    /**
     * Connection credentials
     */
    'connection' => [
        'host' => '127.0.0.1',
        'username' => 'root',
        'passwd' => '',
        'dbname' => 'hello-world',
        'port' => '3306',
    ],
];
